// Imports config --------------------------------------------------------------
@use '../config/colors';
@use 'sass:math';

// Functions -------------------------------------------------------------------
@function converter($valor) {
    @return math.div($valor, 16) * 1rem;
}

// Mixins ----------------------------------------------------------------------
@mixin flex ($justify, $items) {
    display: flex;
    justify-content: $justify;
    align-items: $items;
}

// Main ------------------------------------------------------------------------
main {
    width: 100%;
    margin-left: 100px;

    .container {
        padding: converter(12) converter(16) 0;
        position: relative;

        .search {
            position: absolute;
            padding: 0 converter(16);
            right: 0;
            width: 100%;
            @include flex(center, end);
            flex-direction: column;

            button {
                padding: converter(20);
                z-index: 10;
            }

            form{
                transform: translateX(100vw);
                width: 100%;
                @include flex(end, center);

                input{
                    width: 100%;
                    border-radius: converter(4);
                    border: none;
                    padding: converter(4) converter(12);
                    background-color: rgba($color: colors.$silver, $alpha: 0.25);
                }
                
                &.on-search{
                    z-index: 10;
                    transform: translateX(0);
                }
            }
        }

        .content {
            width: 100%;
            @include flex(center, center);
            flex-direction: column;

            section {
                position: absolute;
                transform: translateX(-150vw);
                top: 0; 
                width: 100%;
                padding: converter(24) converter(16) converter(16);

                .title-section {
                    @include flex(center, start);
                    flex-direction: column;
                    position: sticky;

                    h3{
                        text-align: start;
                        color: colors.$dim-gray;
                        font-size: converter(14);
                        font-weight: 400;
                    }

                    h2{
                        font-size: converter(22);
                        font-weight: 600;
                        color: colors.$black;
                        margin-bottom: converter(42);
                    }
                }

                .cards{
                    @include flex(center, center);
                    flex-direction: column;
                    row-gap: converter(32);

                    .card{
                        @include flex(center, center);
                        flex-direction: column;

                        img{
                            max-width: 200px;
                            max-height: 200px;
                        }
                        
                        .hero{
                            @include flex(center, start);
                            flex-direction: column;
                            width: 100%;

                            .category-product{
                                font-size: converter(16);
                                font-weight: 600;
                                color: colors.$black;
                                margin-top: converter(12);
                                margin-bottom: converter(8);
                            }

                            p{
                                font-size: converter(10);
                                color: colors.$dim-gray;
                                font-weight: 400;
                            }

                            .price{
                                @include flex(start, center);
                                column-gap: converter(16);
                                margin-top: converter(8);

                                strong{
                                    font-size: converter(16);
                                    font-weight: 600;
                                    color: colors.$black;
                                }

                                button{
                                    width: converter(15);
                                    height: converter(15);
                                    background-color: colors.$white;
                                    border: none;
                                    border-radius: converter(15);
                                    box-shadow: 0 converter(2) converter(2) rgba($color: colors.$black, $alpha: 0.5);
                                }
                            }
                        }
                    }

                    hr{
                        width: 100%;
                        border-color: rgba($color: colors.$black, $alpha: 0.1)
                    }
                }

                &.selected{
                    transform: translateX(0);
                }
            }
        }

    }
}